:root {
  /* CSS HSL */
  --midnight-green: hsla(193, 100%, 20%, 1);
  --pacific-cyan: hsla(192, 100%, 41%, 1);
  --aquamarine: hsla(147, 100%, 81%, 1);
  --persian-green: hsla(171, 63%, 39%, 1);
  --light-green: hsla(124, 67%, 69%, 1);
}

body {
  /* background-image: url("../images/BackgroundGradient.png"); */
  color: #333333;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #FFFFFF;
  margin-bottom: 3.33rem;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.animated-gradient {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

main > section {
  display: flex;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center; /* Align items vertically within .logo */
}

.logo-image {
  max-width: 200px;
}

.connectBtn {
  background-color: white;
  padding: 1rem;
  margin-right: auto; /* Push to the right side on larger screens */
  /* Optional: Add a max-width to prevent it from taking up the full width */
  /* max-width: 300px; Adjust as needed */
}

.docs-link {
  flex-basis: 10%; /* Adjust as needed */
  display: flex;
  justify-content: flex-end;
  text-align: left;
}


button {
  padding: 1rem;
  background-color: var(--persian-green);
  border-radius: 10px;
  border: 1px solid rgba(237, 231, 225, 0.1);
  font-size: 18px;
  color: #FFFFFF;
  min-width: 23%;
  transition: all 0.3s ease;

  /* add shadow */
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
}

/*
 buttons states
*/
button:hover {
  background-color: var(--light-green);
  color: #FFFFFF;
}

button:active {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
  transform: scale(0.98);
}

.input {
  padding: 1.33rem;
  border-radius: .33rem;
  width: 66%;
  margin-bottom: 1.33rem;
  display: block;
  border: none;
}

.number {
  display: inline-block; 
  white-space: nowrap; /* Prevent wrapping */
}

.number input[type="text"] {
  border: 1px solid rgba(0, 0, 0, 0.1); /* Add a border to the input */
  border-radius: 5px; /* Optional: Add border-radius for rounded corners */
  padding: 0.5rem; /* Optional: Add padding for spacing inside the input */
  margin-top: 0.25rem;
}

.number input[type="text"]:focus {
  outline: none; /* Remove the default focus style */
  border-color: var(--pacific-cyan); /* Change the border color on focus */
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  font-size: 32px;
  border-radius: .33rem;
}


.content-container {
  display: flex;
  align-items: center; /* Vertically center the content */
  padding: 1rem;
  border-radius: .33rem;
}

section {
  display: flex;
  justify-content: space-between;
  padding-left: 1.33rem;
  padding-right: 1.33rem;
  margin: 10px;
}

.header {  
  position: sticky;
  background-color: rgba(255, 255, 255, 1);
  top: 0;
  z-index: 10;
}

.left-container,
.right-container {
  flex-basis: 48%;
}

.content-wrapper  {
  border: 1px solid rgba(0, 0, 0, 0.1); /* Add a border to the content wrapper */
  margin-bottom: 10px; /* Add some margin between content wrappers */
  border-radius: 10px;
  height: 100%;
  flex-basis: 48%;

  /* add shadow */
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
}

.maturity-date {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0.5rem;
}

#numberOfTokenizedZero,
#tokenizeEndEpochBorrow
 {
  border: 1px solid rgba(0, 0, 0, 0.1); /* Add a border to the input */
  border-radius: 5px; /* Optional: Add border-radius for rounded corners */
  padding: 0.5rem; /* Optional: Add padding for spacing inside the input */
  margin-top: 0.25rem;
}

#tokenizeEndEpochBorrow {
  max-width: 300px;
}


.row-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0.5rem;
}

.feedback-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0.5rem;
}

.simpler {
  padding: 0.5rem;
}

.row-wrapper>* {
  display: inline-block;
}

.header-wrapper {
  justify-content: space-around;
  align-items: center;
  display: flex;
  border-bottom: 1px solid #333333;
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.column {
  flex-basis: auto;
  width: 100%;
}

h1 {
  text-align: left;
}

li a {
  text-overflow: ellipsis;
}

@media only screen and (max-width: 768px) {
  section {
    flex-direction: column; /* Stack containers vertically on small screens */
  }

  .left-container,
  .right-container {
    flex-basis: 100%; /* Take full width on small screens */
  }

  .logo-image {
    max-width: 70px; /* Set the maximum width to 100% of its container */
    height: auto;    /* Allow the height to adjust proportionally */
    margin-bottom: 10px; /* Adjust the margin to your preference */
  }

  h1 {
    font-size: 1rem; /* Adjust the font size to your preference */
    margin-top: 0; /* Remove any default margin */
    text-align: center;
  }

  .row-wrapper {
    display: flex;
    flex-direction: column;
  }
}









