body {
  /* background-image: url("../images/BackgroundGradient.png"); */
  color: #333333;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #FFFFFF;
  margin-bottom: 3.33rem;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.maincontainer {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: .33rem;
}

.logo {
  display: flex;
  align-items: center; /* Align items vertically within .logo */
}

.logo-image {
  max-width: 200px;
}

.connectBtn {
  background-color: white;
  padding: 1rem;
  margin-right: auto; /* Push to the right side on larger screens */
  /* Optional: Add a max-width to prevent it from taking up the full width */
  /* max-width: 300px; Adjust as needed */
}

.docs-link {
  flex-basis: 10%; /* Adjust as needed */
  display: flex;
  justify-content: flex-end;
  text-align: left;
}

button {
  padding: 1rem;
  background-color: #c3c7c8;
  border-radius: 10px;
  border: 1px solid #000000; 
  font-size: 18px;
  color: #333333;
  min-width: 23%;
}

.input {
  padding: 1.33rem;
  border-radius: .33rem;
  width: 66%;
  margin-bottom: 1.33rem;
  display: block;
  border: none;
}

.number {
  display: inline-block; 
  white-space: nowrap; /* Prevent wrapping */
}

.number input[type="text"] {
  border: 2px solid #000000; /* Black border with 2px width */
  border-radius: 5px; /* Optional: Add border-radius for rounded corners */
  padding: 0.5rem; /* Optional: Add padding for spacing inside the input */
  margin-top: 0.25rem;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally */
  padding: 1rem;
  font-size: 32px;
  border-radius: .33rem;
}


.content-container {
  display: flex;
  align-items: center; /* Vertically center the content */
  padding: 1rem;
  border-radius: .33rem;
}

section {
  display: flex;
  justify-content: space-between;
  padding-left: 1.33rem;
  padding-right: 1.33rem;
  margin: 10px;
}

.header {  
  position: sticky;
  background-color: white;
  top: 0;
}

.left-container,
.right-container {
  flex-basis: 48%;
}

.content-wrapper  {
  border: 1px solid  #ced0d6; /* Add a border to the content wrapper */
  margin-bottom: 10px; /* Add some margin between content wrappers */
  border-radius: 5px;
  height: 100%;
  flex-basis: 48%;
}

.row-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0.5rem;
}

.feedback-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0.5rem;
}

.simpler {
  padding: 0.5rem;
}

.row-wrapper>* {
  display: inline-block;
}

.header-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  border-bottom: 1px solid #333333;
}
 
.column {
  flex-basis: auto;
}

h1 {
  text-align: left;
}

li a {
  text-overflow: ellipsis;
}

@media only screen and (max-width: 768px) {
  section {
    flex-direction: column; /* Stack containers vertically on small screens */
  }

  .left-container,
  .right-container {
    flex-basis: 100%; /* Take full width on small screens */
  }

  .logo-image {
    max-width: 70px; /* Set the maximum width to 100% of its container */
    height: auto;    /* Allow the height to adjust proportionally */
    margin-bottom: 10px; /* Adjust the margin to your preference */
  }

  h1 {
    font-size: 1rem; /* Adjust the font size to your preference */
    margin-top: 0; /* Remove any default margin */
    text-align: center;
  }

  .row-wrapper {
    display: flex;
    flex-direction: column;
  }
}









