@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-is-loading {
  color: transparent !important;
  pointer-events: none;
  user-select: none;

  &.with-text {
    color: #ffffff !important;
    font-size: 14px;

    &.right {
      text-align: right;
    }

    &::after {
      left: 12.5px;
    }
  }

  &::after {
    animation: spinAround 500ms infinite linear;
    border: 2px solid #ffffff;
    border-radius: 100%;
    border-right-color: transparent;
    border-top-color: transparent;
    content: '';
    display: block;
    height: 25px;
    width: 25px;
    left: calc(50% - (25px / 2));
    top: calc(50% - (25px / 2));
    position: absolute !important;
  }
}
