.App {
  text-align: top;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s ease-in-out;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  50%, 100% {
    opacity: 1;
    transform: rotateY(360deg)
  }
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

button {
  font-size: calc(10px + 2vmin);
}


